option_settings:
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
    EC2KeyName: null
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    ImageId: auto
    InstanceType: t2.micro
    MonitoringInterval: 5 minute
    SecurityGroups: null
    SSHSourceRestriction: tcp,22,22,0.0.0.0/0

  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1

  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
